<div class="footer">
    <div class="fcon">

        <div class="con4">
        <a href="#home"><img src="../../../assets/arrow.png" class="arrowlogo"></a>
    </div>

        <div class="con3">
        <h2>Made with </h2><img src="https://github.com/CjEspinoza/main-portfolio/blob/master/src/assets/angular.png?raw=true" class="icon-angular"> <h2>ngular</h2>
    </div>
    <div class="con5">
        <div class="col-sm-3 col-auto text-center"><small>Copyright &#9400; 2021 All Rights Reserved</small></div>
    </div>
    </div>
</div>