@font-face{
    font-family: barlow;
    src: url('../../../assets/BarlowCondensed-Thin.ttf');
}
@font-face{
    font-family: vast;
    src: url('../../../assets/VastShadow-Regular.ttf');
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: #202020;
    position: fixed;
    z-index: 4;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}
li{
    font-size: 3vmin;
    font-family: barlow;
    margin: 15px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;

}
li:hover{
    color: rgb(248, 211, 0);
    transition: .3s;
}
a{
    text-decoration: none;
}
.symbol1, .symbol2, .espi{
    font-family: vast;
    font-size: 5vh;
}
.symbol1, .symbol2{
    color: rgb(75, 74, 74);
}
.espi{
    color: rgb(248, 211, 0);
}
.logo{
    margin: 4.5vh;
    margin-left: 7vh;
    position: absolute;
}
@media screen and (max-width:769px){
    .list{
        display: none;
    }
}
@media screen and (max-width:426px){
    .list{
        display: none;
    }
    .espi{
        font-size: 3vh;
    }
    .symbol1,.symbol2{
        font-size: 3vh;
    }
    .navbar{
        height: 50px;
    }
    .logo{
        margin: 2vh;
    }

}