<div class="home">
    <div class="left">
        <div class="banner" [class.fade]="fadeout">
            <span class="name">Cj Espinoza</span>
            <span class="pos">WEB DEVELOPER</span>
        </div>
    </div>

    <div class="right">
        <img src="assets/Portrait2.png" class="portrait" [class.fade]="fadeout">
        <img src="assets/circle.png" class="circle">
        

        <img src="assets/e4.png" class="e4" [class.fade]="fadeout">
        <img src="assets/e2.png" class="e2">
    </div>
</div>
<div class="page2">

</div>