@font-face{
    font-family: blanka;
    src: url('../../../assets/Blanka-Regular.otf');
}
@font-face{
    font-family: bobby;
    src: url('../../../assets/BobbyJonesSoft-Regular.otf');
}
@font-face{
    font-family: asap;
    src: url('../../../assets/AsapCondensed-Regular.ttf');
}
@font-face{
    font-family: bantayog;
    src: url('../../../assets/Bantayog-Regular.otf');
}
.home{
    background-image: url('../../../assets/1.png');
    display: flex;
    flex-direction: row;
}
.home, .page2, .page3, .page4, .page5, .page6{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}
.page2{
    background-image: url('../../../assets/2.png');
}
.page3{
    background-image: url('../../../assets/3.png');
    flex-direction: column;
}
.page4{
    background-image: url('../../../assets/4.png');
    flex-direction: column;
}
.page5{
    background-image: url('../../../assets/5.png');
}
.page6{
    background-image: url('../../../assets/6.png');
}
.left, .right{
    width: 50%;
    height: 600px;
}
.e2{
    position: absolute;
    width: 10px;
    margin-left: -500px;
    margin-top: 200px;

}
.picon{
    margin: 5px;
    width: 5vh;
    filter: invert(1);
}
.picon:hover{
    filter: brightness(100);
    transition: .3s;
}
.portrait{
    width: 80%;
    z-index: 2;
    position: relative;
    transition: .5s ease-out;

}
.fade{
    opacity: 0;
    margin-top: 100px;
    transition: 1s ease-out;
}
.e4{
    position: absolute;
    width: 250px;
    z-index: 3;
    margin-left: -650px;
    margin-top: 350px;
    transition: 1s ease-out;
}
.circle{
    position: absolute;
    margin-left: -580px;
    width: 500px;
}
.banner{
    display: flex;
    flex-direction: column;
    margin: 20vh;
    transition: .5s ease-out;
}
.name{
    font-family: blanka;
    font-size: 10vh;
    color: rgb(248, 211, 0);

}
.pos{
    font-family: bobby;
    font-size: 5vh;
    color: rgb(75, 74, 74);
}
a{
    text-decoration: none;
}
.CV{
    font-family: asap;
    color: rgb(75, 74, 74);
    text-align: center;
    padding: 1vh;
    width: 10vh;
    background-color: rgb(248, 211, 0);
    border-radius: 5%;
}
.CV:hover{
    background-color: white;
    transition: .3s;
}

/* ABOUT */

.auplogo{
    width: 60%;
    margin: 20vh;
}
.about{
    font-family: asap;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(212, 212, 212);
    padding: 3vh;
}
.right2{
    padding-top: 250px;
    width: 70%;
}
.socmed{
    display: flex;
    justify-content: center;
}
.socmedlogo{
    width: 8vh;
    filter: invert(1);
    margin: 3vh;
    cursor: pointer;
}
.socmedlogo:hover{
    filter: brightness(10);
}

/* SKILLS */
.con{
    margin: 4vh;
    display: flex;
    justify-content: center;
}
.lang-logo{
    width: 15vh;
    margin: 5vh;
}
.lang-logo:hover{
    width: 17vh;
    transition: .5s;
    cursor: pointer;
}
.head{
    color: rgb(248, 211, 0);
    display: flex;
    justify-content: center;
    font-size: 8vh;
    font-family: bantayog;
}

/* PROJECTS */

.projcon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5vh;
    width: 40vh;
}
.proj{
    width: 40vh;
    cursor: pointer;
}
.proj:hover{
    border: 5px solid rgb(248, 211, 0);
    transition: .3s;
}
.main-con{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.projname, i, .message{
    color: rgb(219, 217, 217);
}
.projname{
    color: rgb(248, 211, 0);
    font-family: bobby;
    font-size: 22px;
}
.message{
    font-family: asap;
    font-size: 20px;
}

/* CONTACT */
.left3{
    width: 20%;
}
.right3{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.con1{
    flex-direction: column;
}
.form-con{
    margin-top: 5vh;
}
.form{
    display: flex;
    justify-content: center;
}
.form2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.icon-form{
    width: 25px;
    margin: 5px;
    margin-left: 10px;
    background-color: rgb(68, 68, 68);
}
.tf{
    width: 230px;
    border: none;
    margin-left: 5px;
    height: 35px;
    background-color: rgb(68, 68, 68);
    color: white;
}
.textfield{
    display: flex;
    flex-direction: row;
    width: 275px;
    background-color: rgb(68, 68, 68);
    border: 1px solid black;
    margin: 15px;
}
#message{
    width: 560px;
    resize: none;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    color: white;
}
.btn-submit{
    font-family: asap;
    padding: 8px;
    background-color: rgb(248, 211, 0);
    color: black;
    margin: 20px;
    text-decoration: none;
}
.btn-submit:hover{
    background-color: white;
    color: black;
    transition: .3s;
}
.textarea{
    display: flex;
    justify-content: center;
}
.submit-btn{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1441px){
}
@media screen and (max-width:1025px){
    .circle{
        margin-left: -380px;
        width: 400px;
    }
    .e4{
        width: 200px;
        margin-left: -450px;
        margin-top: 220px;
    }
    .e2{
        margin-left: -340px;
        margin-top: 150px;
    
    }
    .banner{
        margin: 10vh;
    }
    .name{
        font-size: 9vh;
    }
    .home, .page2, .page3, .page4, .page5, .page6{
        width: 100%;
        height: 520px;
    }
    .right2{
        padding-top: 150px;
    }
    .head{
        font-size: 6vh;
    }
    .lang-logo{
        width: 12vh;
        margin: 3vh;
    }
    .lang-logo:hover{
        width: 12vh;
    }
    .projcon{
        margin: 3vh;
        width: 33vh;
    }
    .proj{
        width: 33vh;
        cursor: pointer;
    }
}
@media screen and (max-width:769px){
    .circle{
        margin-left: -300px;
        width: 300px;
    }
    .e4{
        width: 160px;
        margin-left: -350px;
        margin-top: 180px;
    }
    .e2{
        margin-left: -270px;
        margin-top: 80px;
    }
    .home, .page2, .page3, .page4, .page5, .page6{
        width: 100%;
        height: 380px;
    }
    .banner{
        margin: 7vh;
    }
    .name{
        font-size: 7vh;
    }
    .right2{
        padding-top: 50px;
    }
    .auplogo{
        margin: 10vh;
    }
    .socmedlogo{
        width: 4.5vh;
        margin: 2vh;
    }
    .head{
        font-size: 5.5vh;
    }
    .lang-logo{
        width: 9vh;
        margin: 2vh;
    }
    .lang-logo:hover{
        width: 9vh;
    }
    .con{
        margin: 2vh;
    }
    .projcon{
        margin: 2vh;
        width: 25vh;
    }
    .proj{
        width: 25vh;
        cursor: pointer;
    }
    .message{
        font-size: 2.5vh;
    }
    .tf{
        width: 195px;
    }
    .textfield{
        width: 195px;
        margin: 2vh;
    }
    #message{
        width: 420px;
        padding: 5px;
        margin-left: 1.4vh;
    }
    .right3{
        margin-top: 12vh;
    }
}
@media screen and (max-width:426px){
    .tf{
        width: 120px;
    }
    .textfield{
        width: 180px;
        margin: 1vh;
    }
    #message{
        width: 365px;
        padding: 5px;
        margin-left: 0px;
    }
    .right3{
        margin-top: 5vh;
    }
    .projcon{
        margin: 2vh;
        width: 18vh;
    }
    .proj{
        width: 18vh;
    }
    .head{
        font-size: 4vh;
    }
    .message{
        font-size: 2vh;
    }
    .projname{
        font-size: 2.3vh;
    }
    .lang-logo{
        width: 6vh;
        margin: 2vh;
    }
    .lang-logo:hover{
        width: 6vh;
    }
    .about{
        font-size: 2vh;
    }
    .banner{
        visibility: hidden;
    }
    .circle{
        width: 50vh;
        margin-left: -150px;
    }
    .portrait{
        margin-left: -150px;
        width: 55vh;
        position: absolute;
    }
    .e4{
        margin-left: -180px;
    }
    .home, .page2, .page3, .page4, .page5, .page6{
        width: 100%;
    }
    .left3{
        display: none;
    }
    .about{
        margin-top: 5vh;
        padding:1vh;
    }
    .auplogo{
        width: 20vh;
        margin: 3vh;
        margin-top: 15vh;
    }
    .message{
        font-size: 2vh;
    }
    .right3{
        width: 100%;
    }
    .page3{
        background-image: url('../../../assets/4.png');
    }
    .page4{
        background-image: url('../../../assets/3.png');
    }
}
@media screen and (max-width:415px){
    .circle{
        width: 48vh;
        margin-left: -180px;
    }
    .portrait{
        width: 50vh;
        margin-left: -190px;
    }
    .e4{
        margin-left: -210px;
    }
    .projcon{
        margin: 1vh;
        width: 15vh;
    }
    .proj{
        width: 15vh;
    }
    .message{
        font-size: 12px;
    }
}
@media screen and (max-width:412px){
    .portrait{
        width: 48vh;
        margin-left: -190px;
    }
    .circle{
        width: 46vh;
    }
}
@media screen and (max-width:376px){
    .projcon{
        margin: 2vh;
        width: 15vh;
    }
    .proj{
        width: 15vh;
    }
    .tf{
        width: 100px;
    }
    .textfield{
        width: 160px;
        margin: 1vh;
    }
    #message{
        width: 325px;
        padding: 5px;
        margin-left: 0px;
    }
    .message{
        font-size: 1.5vh;
    }
    .portrait{
        width: 50vh;
        margin-left: -170px;
    }
    .circle{
        width: 48vh;
        margin-left: -150px;
    }
    .e4{
        margin-left: -180px;
    }
}
@media screen and (max-width:321px){
    .circle{
        width: 45vh;
    }
    .portrait{
        width: 46vh;
    }
    .e4{
        margin-left: -170px;
        width: 140px;
    }
    .projcon{
        margin: 2vh;
        width: 13vh;
    }
    .proj{
        width: 13vh;
    }
    .projname{
        font-size: 1.8vh;
    }
    i{
        font-size: 1.5vh;
    }
    .tf{
        width: 80px;
    }
    .textfield{
        width: 140px;
        margin: 1vh;
    }
    #message{
        width: 285px;
        padding: 5px;
        margin-left: 0px;
    }
    .auplogo{
        margin: 1vh;
        margin-top: 110px;
    }
    .socmedlogo{
        width: 3vh;
    }
    .head{
        font-size: 3vh;
    }
}