<div class="home">
    <div class="left">
        <div class="banner" [class.fade]="fadeout">
            <span class="name">Cj Espinoza</span>
            <span class="pos">WEB DEVELOPER</span>
            <a href="#" class="CV"
                target="https://drive.google.com/file/d/1JD3qbZ-75gVN6QrOWHM-vXLPTr87kg3e/view?usp=share_link">VIEW CV</a>
            <a href="https://github.com/CjEspinoza" target="?"><img src="../../../assets/github-icon.png"
                    class="picon"></a>
            <a href="https://www.linkedin.com/in/cjespinoza27/" target="?"><img src="../../../assets/linkedin.png"
                    class="picon"></a>
        </div>
    </div>

    <div class="right">
        <img src="assets/Portrait.png" class="portrait" [class.fade]="fadeout">
        <img src="assets/circle.png" class="circle">


        <img src="assets/e4.png" class="e4" [class.fade]="fadeout">
        <img src="assets/e2.png" class="e2">
    </div>
</div>
<div class="page2" id="about">
    <div class="left">
        <img src="../../../assets/aup.png" class="auplogo">
    </div>
    <div class="right2">
        <div class="head">
            About me
        </div>
        <span class="about">
            I am a 3rd year BS Information Technology Student studying at Adventist University of the Philippines. I
            love creating websites and software applications.
            <br><br>
            Here are my social media accounts:
        </span>
        <div class="socmed">
            <a href="https://www.facebook.com/Espinoza.Cj27" target="?"><img src="../../../assets/fb-icon.png"
                    class="socmedlogo"></a>
            <a href="https://www.instagram.com/cj.expi/" target="?"><img src="../../../assets/insta-icon.png"
                    class="socmedlogo"></a>
            <a href="https://twitter.com/CjEspinoza6" target="?"><img src="../../../assets/twitter-icon.png"
                    class="socmedlogo"></a>
        </div>
    </div>
</div>
<div class="page3" id="skills">
    <div class="head">
        Platforms I've worked with
    </div>
    <div class="con">
        <img src="../../../assets/angular.png" class="lang-logo">
        <img src="../../../assets/nodejs.png" class="lang-logo">
        <img src="../../../assets/java.png" class="lang-logo">
        <img src="../../../assets/csharp.png" class="lang-logo">
    </div>
    <div class="con">
        <img src="../../../assets/mysql.png" class="lang-logo">
        <img src="../../../assets/python.png" class="lang-logo">
        <img src="../../../assets/reactjs.png" class="lang-logo">
        <img src="../../../assets/html.png" class="lang-logo">
    </div>
</div>
<div class="page4">
    <div class="head" id="projects">
        <br><br><br>
        Projects
    </div><br>
    <div class="main-con">
        <div class="projcon">
            <a href="https://pscdps.com" target="?"><img src="../../../assets/pscdps2.png"
                    class="proj"></a><br>
            <div class="details">
                <span class="projname">PSC Doc Processing System</span><br><i>Full Stack</i><br><br>
                <span class="message">A Capstone Project created for the Barangay Pulong Sta. Cruz, Santa Rosa, Laguna.</span>
            </div>
        </div>
        <div class="projcon">
            <a href="https://daps-ps.netlify.app" target="?"><img
                    src="../../../assets/daps2.png" class="proj"></a><br>
            <div class="details">
                <span class="projname">DAP Purchasing System</span><br><i>Full Stack</i><br><br>
                <span class="message">A Purchasing System that is integrated with other systems as a partial fullfillment for a subject.</span>
            </div>
        </div>
        <div class="projcon">
            <a href="https://near-buy.netlify.app/" target="?"><img src="../../../assets/Capture.PNG"
                    class="proj"></a><br>
            <div class="details">
                <span class="projname">Near Buy</span><br><i>Backend</i><br><br>
                <span class="message">Near Buy is an online store/delivery app that let's you order groceries and track
                    it in real-time. </span>
            </div>
        </div>
    </div>
    <div class="main-con">
        <div class="projcon">
            <a href="https://final-heroku-guardian.herokuapp.com/" target="?"><img src="../../../assets/guardianv2.jpg"
                    class="proj"></a><br>
            <div class="details">
                <span class="projname">Guardian V2</span><br><i>Backend</i><br><br>
                <span class="message">Guardian V2 is a soc-med/gaming website that is exclusive for AUP Students.</span>
            </div>
        </div>
        <div class="projcon">
            <a href="https://github.com/joshuiaclan/messaging-app-2020" target="?"><img
                    src="../../../assets/messagemo.gif" class="proj"></a><br>
            <div class="details">
                <span class="projname">Message-mo</span><br><i>Frontend</i><br><br>
                <span class="message">Message-mo is a web-app that is made as an entry for the Facebook Hackathon during
                    2020.</span>
            </div>
        </div>
    </div>
</div>

<div class="page5" id="contact">
    <div class="left3"></div>
    <div class="right3">
        <div class="head">
            <br><br><br>
            Email me here
        </div>
        <div class="form-con">
            <div class="con1 d-flex justify-content-center p-5">
                <div class="form">
                    <div class="textfield">
                        <img src="https://github.com/CjEspinoza/main-portfolio/blob/master/src/assets/name-form.png?raw=true"
                            class="icon-form">
                        <input type="text" class="tf" placeholder="Last Name, First Name" required>
                    </div>
                    <div class="textfield">
                        <img src="https://github.com/CjEspinoza/main-portfolio/blob/master/src/assets/email-icon.png?raw=true"
                            class="icon-form">
                        <input type="text" class="tf" placeholder="example@example.com" [(ngModel)]="name" required>
                    </div>
                </div>
                <div class="form2">
                    <div class="textarea d-flex justify-content-center">
                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Write message here . . ."
                            [(ngModel)]="message" required></textarea>
                    </div>

                    <div class="submit-btn">
                        <a class="btn-submit" id="sendMail" (click)="appendMailTo()"
                            href="mailto:espinoza.cj3@gmail.com?subject={{name}}&body={{message}}">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
